<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div *ngIf="isLoading" class="align-items-center d-flex justify-content-center">
                <span class="spinner-grow" role="status" aria-hidden="true"></span>
            </div>
            <div *ngIf="isEmpty" class="alert alert-warning alert-dismissible text-center fade show" role="alert">
                Vous ne participez à aucun votes privé
            </div>
            <div class="list-group">
                <a routerLink="/votes/{{vote.id}}" class="list-group-item list-group-item-action" *ngFor="let vote of votes; let index = index;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{vote.label}}</h5>
                        <small>Créé le {{ vote.startDate | date : 'd MMMM y' :'' : 'fr-FR' }}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <small>Créer par <span class="text-secondary">{{ vote.votemaker.firstname }} {{ vote.votemaker.lastname }}</span></small>
                        <small *ngIf="vote.resultList.length != 0" class="badge bg-light text-secondary">Résultats disponibles</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
