<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="votes/public">Votes publiques</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="votes/private">Votes privés</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="votes/create">Créer un vote</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signin">Connexion</a>
        </li>
        <li>
          <a *ngIf="isAuth" style="color: darkred">{{ userName }}</a>
        </li>
        <li>
          <a routerLink="auth/signin" (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
