<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="pageNum !== 1"><a class="page-link text-dark" [routerLink]="[]"
                                                       [queryParams]="{page_num : pageNum - 1}" [queryParamsHandling]="'merge'">Précédent</a></li>
        <li class="page-item"><a class="page-link text-dark" [routerLink]="[]"
                                 [queryParams]="{page_num : 1}" [queryParamsHandling]="'merge'">1</a></li>
        <li class="page-item"><a class="page-link text-dark" [routerLink]="[]"
                                 [queryParams]="{page_num : 2}" [queryParamsHandling]="'merge'">2</a></li>
        <li class="page-item"><a class="page-link text-dark" [routerLink]="[]"
                                 [queryParams]="{page_num : pageNum + 1}" [queryParamsHandling]="'merge'">Suivant</a></li>
    </ul>
</nav>
<div class="container">
    <div class="col-sm-10 offset-sm-1 mb-3">
        <form class="input-group">
            <input class="btn btn-outline-secondary" type="submit" (click)="onSearch()" value="Rechercher">
            <input type="text" class="form-control border-secondary" id="searchInput" placeholder="...">
            <a class="btn btn-outline-secondary rounded-end border-secondary" type="button" data-bs-toggle="dropdown"><span class="fa fa-filter"></span></a>
            <ul class="dropdown-menu dropdown-menu-end">

                <li class="form-check form-switch ms-2 me-2" (click)="onOpenFilter()">
                    <div class="container">
                        <input class="form-check-input me-3" type="checkbox" id="onlyOpenToggle">
                        <label class="form-check-label" for="onlyOpenToggle">Afficher que les votes ouverts</label>
                    </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="ms-2 me-2">
                    <label for="pageSizeRange" class="form-label">Nombre de votes par pages : <span class="text-primary">{{ pageSize }}</span></label>
                    <input type="range" class="form-range" (input)="onPageSize()" value="{{ pageSize }}" step="{{ defaultPageSize }}" min="{{ defaultPageSize }}" max="100" id="pageSizeRange">
                </li>
            </ul>
        </form>
    </div>
</div>
